<section id="writers" class="writers-section">
  <div class="container">
    <div class="section-label">
      <h2>{{ 'FOLLOW_OUR_WRITERS.TITLE' | translate }}</h2>
      <a [routerLink]="['/', lang.currentLang(), 'writers']">{{ 'FOLLOW_OUR_WRITERS.SEE_ALL' | translate }}</a>
    </div>
    @if (authors().length > 0) {
    <div class="writers-grid">
      @for (author of authors(); track author.id) {
      <div class="writer-card">
        <div class="writer-avatar" style="position: relative;">
          <img [markataImage]="author.image" [ngSrc]="author.image?.url || 'assets/icons/digital-bond.svg'" fill class="img-placeholder"
            [alt]="author.image?.alt ?? author.name"
            style="background: #1a1200; border-radius: 50%;">

        </div>
        <div class="writer-info">
          <h4>{{ author.name }}</h4>
          @if (author.job_title) {
          <div class="articles-count">{{ author.job_title }}</div>
          }
          @if (author.description) {
          <p class="line-clamp-6">{{ author.description }}</p>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>