<section id="newsletter" class="newsletter">
    <div class="container">
        <div class="newsletter-box">
            <h2 [innerHTML]="'NEWSLETTER.TITLE' | translate: { weekly: ('NEWSLETTER.WEEKLY' | translate) }"></h2>
            <p>{{ 'NEWSLETTER.DESC' | translate }}</p>
            <form class="newsletter-form" (submit)="$event.preventDefault()">
                <input type="email" required [placeholder]="'NEWSLETTER.PLACEHOLDER' | translate" />
                <button type="submit">{{ 'NEWSLETTER.BUTTON' | translate }}</button>
            </form>
        </div>
    </div>
</section>