<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <a routerLink="/" style="text-decoration:none">
          <div class="logo">
            MAR<span>KA</span>TA
            <sub>{{ 'FOOTER.SUBTITLE' | translate }}</sub>
          </div>
        </a>
        <p>{{ 'FOOTER.DESC' | translate }}</p>
        <div class="social-links">
          @for (link of socialLinks(); track link.id) {
          <a [href]="link.url" class="social-link" target="_blank" rel="noopener noreferrer" [title]="link.name">
            <img markataImage [ngSrc]="link?.image?.url || 'assets/images/digital-bond.svg'" loading="lazy"
              decoding="async" [alt]="link.name" width="18" height="18"
              style="background: transparent;object-fit: contain;">
          </a>
          }
        </div>
        <app-subscribe-form />

      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_TOPICS' | translate }}</h4>
        <ul>
          @for (cat of topics(); track cat.id) {
          <li>
            <a [routerLink]="['/', lang.currentLang(), 'topic', cat.slug]" routerLinkActive="active">
              {{ cat.name }}
            </a>
          </li>
          }
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_CATEGORY' | translate }}</h4>
        <ul>
          @for (cat of categories(); track cat.id) {
          <li>
            <a [routerLink]="getCategoryRoute(cat.slug)" routerLinkActive="active">
              {{ cat.name }}
            </a>
          </li>
          }
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_QUICK_LINKS' | translate }}</h4>
        <ul>
          <li><a [routerLink]="[lang.currentLang(), 'writers']">{{ 'FOOTER.RESOURCE_WRITERS' | translate }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p [innerHTML]="siteService?.copyright() || ('FOOTER.COPYRIGHT' | translate: {image:digitalBondImage})">
      </p>
      <div class="footer-bottom-links">
        <a [routerLink]="['/', lang.currentLang(), 'privacy-policy']">{{ 'FOOTER.LINK_PRIVACY' | translate }}</a>
      </div>
    </div>
  </div>
</footer>