<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <a routerLink="/" style="text-decoration:none">
          <div class="logo">
            MAR<span>KA</span>TA
            <sub>{{ 'FOOTER.SUBTITLE' | translate }}</sub>
          </div>
        </a>
        <p>{{ 'FOOTER.DESC' | translate }}</p>
        <div class="social-links">
          @for (link of socialLinks(); track link.id) {
          <a [href]="link.url" class="social-link" target="_blank" rel="noopener noreferrer" [title]="link.name">
            <div markataImg [seed]="link.icon" [alt]="link.name" style="width: 18px; height: 18px; position: relative;">
            </div>
          </a>
          }
        </div>
        <app-subscribe-form />

      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_TOPICS' | translate }}</h4>
        <ul>
          @for (cat of topics(); track cat.id) {
          <li>
            <a [routerLink]="['/', lang.currentLang(), 'topic', cat.slug]" routerLinkActive="active">
              {{ cat.name }}
            </a>
          </li>
          }
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_CATEGORY' | translate }}</h4>
        <ul>
          @for (cat of categories(); track cat.id) {
          <li>
            <a [routerLink]="['/', lang.currentLang(), 'category', cat.slug]" routerLinkActive="active">
              {{ cat.name }}
            </a>
          </li>
          }
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{ 'FOOTER.COL_RESOURCES' | translate }}</h4>
        <ul>
          <li><a routerLink="/glossary">{{ 'FOOTER.RESOURCE_GLOSSARY' | translate }}</a></li>
          <li><a routerLink="/templates">{{ 'FOOTER.RESOURCE_TEMPLATES' | translate }}</a></li>
          <li><a routerLink="/reports">{{ 'FOOTER.RESOURCE_REPORTS' | translate }}</a></li>
          <li><a routerLink="/podcast">{{ 'FOOTER.RESOURCE_PODCAST' | translate }}</a></li>
          <li><a routerLink="/newsletter-archive">{{ 'FOOTER.RESOURCE_NEWSLETTER' | translate }}</a></li>
          <li><a routerLink="/media-kit">{{ 'FOOTER.RESOURCE_MEDIA_KIT' | translate }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p [innerHTML]="'FOOTER.COPYRIGHT' | translate: {image:digitalBondImage}">
      </p>
      <div class="footer-bottom-links">
        <a [routerLink]="['/', lang.currentLang(), 'privacy-policy']">{{ 'FOOTER.LINK_PRIVACY' | translate }}</a>
        <a [routerLink]="['/', lang.currentLang(), 'terms']">{{ 'FOOTER.LINK_TERMS' | translate }}</a>
        <a [routerLink]="['/', lang.currentLang(), 'cookies']">{{ 'FOOTER.LINK_COOKIES' | translate }}</a>
      </div>
    </div>
  </div>
</footer>