<section [id]="data().slug" class="articles-section">
    <div class="container">
        <div class="section-label">
            <h2>{{ data().name }}</h2>
            <a [routerLink]="['/', lang.currentLang(), 'category', data().slug]">{{ lang.t('Read All →', 'قراءة الكل ←')
                }}</a>
        </div>
        <div class="articles-grid">
            @for (art of data().articles; track art.id) {
            <div class="article-card markata-click-target"
                [routerLink]="['/', lang.currentLang(), 'article', art.slug]">
                <div class="article-card-img">
                    <img [markataImage]="art?.image" [ngSrc]="art?.image?.url || 'assets/icons/digital-bond.svg'" fill
                        class="img-placeholder" loading="lazy" decoding="async" [alt]="art?.image?.alt ?? art.title"
                        style="background: #1a1200" [class]="'ph-'+($index+1)">

                    @if (art.topic) {
                    <span class="cat-pill">{{ art.topic.name }}</span>
                    }
                </div>
                <div class="article-card-body">
                    <h3>{{ art.title }}</h3>
                    <p>{{ art.short_text }}</p>
                    <div class="article-card-meta">
                        <span class="author">
                            <span class="author-avatar" style="position: relative;">

                                <img [markataImage]="art?.author?.image" loading="lazy" decoding="async"
                                    [ngSrc]="art?.author?.image?.url || 'assets/icons/digital-bond.svg'" fill
                                    class="img-placeholder" [alt]="art?.author?.image?.alt ?? ''"
                                    style="background: #1a0f1a; border-radius: 50%;">

                            </span>
                            <span>{{ art?.author?.name }}</span>
                        </span>
                        <span class="read-time">{{ art.reading_time }} {{ lang.t('min read', 'دقائق قراءة') }}</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>