<section>
    <div class="inner-pages-container">
        <app-main-inner-header [badge]="'PRIVACY_POLICY.PRIVACY' | translate"
            [title]="'PRIVACY_POLICY.TITLE' | translate" [subtitle]="'PRIVACY_POLICY.DESC' | translate"
            image="/assets/images/privacy-policy/main-image.jpg" [description]="'AUTH.ACCESS_DESC' | translate" />
        <div class="content">
            <h2>Data we collect
            </h2>
            <p>Account details, reading history for signed-in users, payment metadata via processors, and communications
                you send us.</p>
            <h2>Data we collect
            </h2>
            <p>Account details, reading history for signed-in users, payment metadata via processors, and communications
                you send us.</p>
            <h2>Data we collect
            </h2>
            <p>Account details, reading history for signed-in users, payment metadata via processors, and communications
                you send us.</p>
        </div>
    </div>
</section>